
body{
    background: rgb(0, 0, 0);
   
}

.Titulo{
    font-family: fantasy;
    text-align: center;
    color: goldenrod;
    text-decoration:underline;


}

.bloco{
    
}

.Tabela{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
    color: black;
    text-align: center;
}

.Calc{
    text-align: center;
}

.resultado{
    text-align: center;
    color: azure;
    text-decoration: underline;
}